

<%= link_to 'New Deliverable', new_deliverable_path %>
<table id="list">
  <thead>
  <tr>
    <th>Name</th>
    <th>Unique Id</th>
    <th>Forecast</th>
    <th>Done</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% deliverables.each do |deliverable| %>
  <tr title="<%=deliverable.description%>">
    <td><%= deliverable.name %></td>
    <td><%= deliverable.uniqueID %></td>
    <td><%= deliverable.completionForecast %></td>
    <td><%= deliverable.completionDegree %></td>
    <td><%= link_to 'Show', deliverable %></td>
    <td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td>
    <td><%= link_to 'Destroy', deliverable, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>















