


<%= form_for(@initiative, {id: 'initiative_form', remote: true}) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
         <%= f.label :phase %><br />
          <%if (@initiative.id || -1)>0 %>
                 <%=select_tag(:phase_id,list_phases(@initiative),size: @initiative.portfolio.portfolio_process.phases.count())%>
          <%else%>
                <%=select_tag(:phase_id,list_portfolio_phases(@portfolio_id),size: Portfolio.find(@portfolio_id).portfolio_process.phases.count())%>
          <%end%>
 </div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description,class: 'form_description' %>
  </div>

  <div>
      <%= hidden_field_tag(:portfolio_id,@portfolio_id) %>
  </div>

  <div class="actions">
    <%#= f.submit %>
  </div>
<% end %>
