


<%= form_for(initiative) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <%if (initiative.id || -1)>0 %>
        <div class="field">
            <%= f.label :phase %><br />

            <%=select_tag(:phase_id,list_phases(initiative),size: initiative.portfolios[0].portfolio_process.phases.count())%>
          </div>
   <%end%>

  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description,class: 'form_description' %>
  </div>

    <div class="field">
      <%#=select_tag(:portfolios,list_portfolios(initiative.id),multiple: "multiple",name: "portfolios[]")%>
      <%= hidden_field_tag(:portfolio,portfolio.id,name: "portfolio_id") %>
    </div>

  <div class="actions">
    <%#= f.submit %>
  </div>
<% end %>
