<script>
    $(function(){
        $("table.list a").button();
    });
 </script>
<%if @initiatives.length>0%>
    <table class="list">
      <tr>
        <th>Title</th>
        <th>Phase</th>
        <th>Deliverables</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @initiatives.each do |initiative| %>
      <tr>
        <td><%= initiative.title %></td>
        <td><%= initiative.phase.title %></td>
        <td><%= link_to("#{initiative.deliverables.count()}",deliverables_path(initiative_id: initiative.id),{class: 'mini_text', remote: true}) %></td>
        <td><%= link_to 'Show', initiative,{class: 'mini_text', id: 'show_'+ initiative.id.to_s, remote: true} %></td>
        <td><%= link_to 'Edit', edit_initiative_path(initiative),{class: 'mini_text', id: 'edit_' +initiative.id.to_s, remote: true}%></td>
        <td><%= link_to 'Destroy', initiative, {class: 'mini_text', id: 'delete_'+initiative.id.to_s, remote: true}%></td>
      </tr>
    <% end %>
    </table>
<%end%>





