<script>
    $(function(){
        //$("table a").button();
        $(".mini_button").button();
        $("#initiatives_list").dataTable({
            "bJQueryUI": true
        });



    });
 </script>
<%if @initiatives.length>0%>
    <table id="initiatives_list">
     <thead>
      <tr>
        <th>Title</th>
        <th>Phase</th>
        <th>Completion%</th>
        <th>Start</th>
        <th>End</th>
        <th>Deliverables</th>

      </tr>
     </thead>
      <tbody>
    <% @initiatives.each do |initiative| %>

      <tr>
        <td><p class= "mini_button" <%= "id=""show_#{initiative.id.to_s}"%>>Show</p>
          <p class="mini_button" <%="id=""edit_#{initiative.id.to_s}"%>>Edit</p>
          <p class="mini_button" <%="id=""delete_#{initiative.id.to_s}"%>>Delete</p>
          <%= initiative.title %></td>
        <td><%= initiative.phase.title %></td>
        <td><%= initiative.completionDegree %></td>
        <td><%= initiative.start %></td>
        <td><%= initiative.end %></td>
        <td><%= link_to("#{initiative.deliverables.count()}",deliverables_path(initiative_id: initiative.id),{class: 'mini_text', remote: true}) %></td>
      </tr>

    <% end %>
      </tbody>
    </table>
<%end%>





