<h1>Listing initiatives</h1>

<%= link_to 'New Initiative', new_initiative_path %>
<br>
<br>
<%if !@initiatives.nil?%>
<table border=1>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Phase</th>
    <th>Portfolios</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @initiatives.each do |initiative| %>
  <tr>
    <td><%= initiative.title %></td>
    <td><%= initiative.description %></td>
    <td><%= initiative.phase.title %></td>
    <td><%= display_portfolios(initiative) %></td>
    <td><%= link_to 'Show', initiative %></td>
    <td><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
    <td><%= link_to 'Destroy', initiative, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%end%>


