<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @portfolio.title %>
</p>

<p>
  <b>Description:</b>
  <%= @portfolio.description %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
