<%= form_for(@portfolio_process) do |f| %>
  <% if @portfolio_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_process.errors.count, "error") %> prohibited this portfolio_process from being saved:</h2>

      <ul>
      <% @portfolio_process.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
