<h1>Listing phases </h1>
<%=display_process_scope(@process)%> <br>
<%= link_to 'New Phase', new_phase_path(:process_id=>@process.id) %>
<br><br>

<%if !@phases.empty?%>
<table border=1>
  <tr>
    <th>Sort Order</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @phases.each do |phase| %>
  <tr>
    <td><%= phase.sortOrder %></td>
    <td><%= phase.title %></td>
    <td><%= phase.description %></td>
    <td><%= link_to 'Edit', edit_phase_path(phase) %></td>
    <td><%= link_to 'Destroy', phase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%end%>
<br />


