<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @phase.title %>
</p>

<p>
  <b>Description:</b>
  <%= @phase.description %>
</p>

<p>
  <b>Sortorder:</b>
  <%= @phase.sortOrder %>
</p>

<p>
  <b>Portfolioprocess:</b>
  <%= @phase.portfolioProcess_id %>
</p>


<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
