<!DOCTYPE html>
<html>
<head>
  <title>CTower</title>
  <%= stylesheet_link_tag    "basic" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



</head>
<body>
<script>
	$(function() {
		 $( "#header .navig_text a" ).button();
        $( "#header .admin_link a" ).button();

         $("#home").click(function()
                    {
                      $("#contents").html("<%= j render 'start/index'%>");
        	        });


    });
</script>

	<div id="header">
		<%=image_tag('radar.jpg', :class=> 'logo_image', id: 'home')%>

      <p class="navig_text"><%=link_to "Drivers", "#", remote: true%></p>
      <p class="navig_text"><%=link_to "The Future","#" , remote: true%></p>
      <p class="navig_text"><%=link_to "Services", "#", remote: true%></p>
      <p class="navig_text"><%=link_to "Processes", "#", remote: true%></p>
      <p class="navig_text"><%=link_to "initiatives", initiatives_path, remote: true%></p>
      <p class="navig_text"><%=link_to "Portfolio", portfolios_path, remote: true%></p>
      <p class="navig_text"><%=link_to "Organization", "#", remote: true%></p>

      <p class="admin_link"><%=link_to "Admin", "#", remote: true%></p>

		
	
		
	</div>	
	<div id="contents">
		<%= yield %>
	</div>
</body>
</html>
