<!DOCTYPE html>
<html>
<head>
  <title>CTower</title>
  <%= stylesheet_link_tag    "basic" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



</head>
<body>
<script>
	$(function() {
		 $( "#header a" ).button();
         $("#home").click(function()
                    {
                      $("#contents").html("<%= j render 'start/index'%>");
        	        });


    });
</script>

	<div id="header">
		<%=image_tag('radar.jpg', :class=> 'logo_image', id: 'home')%>

      <p class="navig_text"><%=link_to "Expectations", expectations_path, remote: true%></p>
      <p class="navig_text"><%=link_to "The Future", expectations_path, remote: true%></p>
      <p class="navig_text"><%=link_to "Services", expectations_path, remote: true%></p>
      <p class="navig_text"><%=link_to "Processes", expectations_path, remote: true%></p>
      <p class="navig_text"><%=link_to "Organization", expectations_path, remote: true%></p>
      <p class="navig_text"><%=link_to "initiatives", initiatives_path, remote: true%></p>
      <p class="navig_text"><%=link_to "Portfolios", portfolios_path, remote: true%></p>



		
	
		
	</div>	
	<div id="contents">
		<%= yield %>
	</div>
</body>
</html>
